<table class='ui table'>
  <tr>
    <th>
      Если позиция модели
    </th>
    <th>ниже</th>
    <th>или</th>
    <th>выше</th>
    <th>то</th>
    <th>
      отправить письмо
    </th>
    <th>
    <% if (this.list.length) { %>
      <%= this.DeferRender('cp/notify/NotificationEmailKnown') %>
    <% } %>
    </th>
  </tr>
<%
var places_array = $.map($(Array(12)),function(val, i) { return i; });

for (var k in this.list)
{
  var v = this.list[k];
  if (v.name == null)
    v.name = "(Модель сканируется с yandex.market)";
%>
  <tr data-id='<%@ v.id %>'>
    <td>
      <a target='yandex' href='//market.yandex.ru/offers.xml?grhow=shop&how=aprice&np=1&modelid=<%@ v.ymid %>'>
        <i class="external url icon link"></i>
      </a>
      <%@ v.name %>
    </td>
    <td colspan='2' class='min'>
      <%= 
        this.DeferRender
        (
          'utils/select',
          {
            list: places_array, 
            name: "name",
            default: v.minplace,
          }
        ) %>
    </td>
    <td colspan='2' class='max'>
      <%= 
        this.DeferRender
        (
          'utils/select',
          {
            list: places_array, 
            name: "name",
            default: v.maxplace,
          }
        ) %>
    </td>
    <td class='freq'>
      <%= 
        this.DeferRender
        (
          'utils/select',
          {
            list: 
            {
              //'1 hour' : "Каждый час",
              '4 hour' : "Каждые 4 часа",
              '6 hour' : "4 раза в день",
              '12 hour' : "Дважды в день",
              '1 day' : "Каждый день",
              '1 week' : "Каждую неделю",
            }, 
            name: "name",
            default: v.every,
          }
        ) %>
    </td>
    <td>
      <%= this.DeferRender('cp/track/disable', {}) %>
      <%= this.DeferRender('cp/track/remove', {}) %>
    </td>
  </tr>
<%
}
%>
</table>

<%
var url = 'cp/notify/'

var GetId = function(obj)
{
  return $(obj).parents('tr').first().attr('data-id');
}

this.DeferCascade(function()
{
  var base = this.first();

  base.find('td.min .selection.dropdown input').change(function()
  {
  debugger;
    phoxy.ApiRequest(url + 'SetMinPosition', [GetId(this), $(this).val()], function()
    {

    })
  })

  base.find('td.max .selection.dropdown input').change(function()
  {
    phoxy.ApiRequest(url + 'SetMaxPosition', [GetId(this), $(this).val()], function()
    {

    })
  })

  base.find('td.freq .selection.dropdown input').change(function()
  {
    phoxy.ApiRequest(url + 'SetFrequency', [GetId(this), $(this).val()], function()
    {

    })
  })
})
%>